{% style %}
.cart-container{
    font-family: var(--self_font);
    position:fixed;
    top:0;
    left: 0;
    width:100vw;
    height:100%;
    background-color:rgba(0,0,0,.4);
    z-index:999;
}
.cart-show{
    display:block;
}
.cart-drawer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height:100vh;
    transition: transform ease-in-out .5s;
    transform: translateX(-100%);
    background: var(--gradient-background);
}
.animate-drawer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height:100vh;
    transition: transform ease-in-out .5s;
    transform: translateX(0%);
    background: var(--gradient-background);
}
.cart-empty-box{
    flex:1;
}
.cart-header{
    padding: 0 1rem;
}
.cart-header,.cart-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
}
.cart-footer{
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    height: auto;
}
.total-price{
    margin-left: .5rem;
    color: var(--jdgm-primary-color);
}
.settle-button{
    margin: 1rem auto;
    padding: .5rem 3rem;
    color: var(--white-color);
    background: rgb(var(--color-foreground));
    border-radius: .5rem;
}
.cart-title{
    margin-left: .5rem;
    font-weight: bolder;
    font-size: 1.6rem;
}
.cart-content{
    margin 0 auto;
    width: calc(100% - 2rem);
    flex:1 ;
    border-top: 1px solid rgba(0,0,0,.4);
    border-bottom: 1px solid rgba(0,0,0,.4);
    overflow-y: scroll;
}
.cart-drawer-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
    
}
.cart-item-info{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.product-option{
    margin-top: .5rem;
}
.cart-item-operation{
    margin-top: 1rem;
}
.cart-item-operation,.minus-plus-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.minus-plus-box{
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid var(--black-color);
    background: rgb(var(--color-background));
}
.quantity-minus-btn,.quantity-plus-btn{
    width: 2rem;
    height: auto;
    transform:scale(.6);
}
.remove-product-cart{
    margin-left: 1rem;
    width:1.6rem;
    height: auto;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance:none;
}    
input[type="number"]{
    -moz-appearance:textfield;
}
.quantity__input{
    width: 2rem;
    height: auto;
    border: none;
    text-indent: .5rem;
    outline:none;
    background: transparent;
}
.cart-empty-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.cart-empty-title{
    font-size: 1.6rem;
}
.continue-shopping{
    display: block;
    padding: .5rem 0;
    margin-top: 1rem;
    border-radius: .5rem;
    background: rgb(var(--color-background));
    cursor: pointer;
}
.cart-close-btn{
    margin-right: .5rem;
    width: 3rem;
}
@media screen and (max-width: 750px){
    .animate-drawer,.cart-drawer{
        width: 80vw;
    }
}
@media screen and (max-width: 450px){
    .animate-drawer,.cart-drawer{
        width: 100vw;
    }
}

{% endstyle %}

<div class='cart-container hidden' data-id={{ section.id }} id="cart-drawer">
    <div class='cart-drawer'>
        {% if cart.empty? == true %}
            <div class='cart-empty-box'>
                <h2 class="cart-empty-title">Your cart is empty </h2>
                <a href={{ routes.all_products_collection_url }} class='continue-shopping'>
                    {{ 'general.continue_shopping' | t }}
                </a>    
            </div>
            {% comment %} <div class='cart-drawer-collection'>
            
            </div> {% endcomment %}
        {% else %}
            <div class='cart-header'>
                <span class="cart-title">Your cart</span>
            <button class="cart-close-btn">
                {% render 'icon-close' %}
            </button>
            </div>
            <div class='cart-content scroll-bar-none'>
                <form
                    action="{{ routes.cart_url }}"
                    id="CartDrawer-Form"
                    class="cart__contents cart-drawer__form"
                    method="post"
                  >
                    {% for item in cart.items %}
                        <div class='cart-drawer-item'>
                            <a href={{ item.url }}>
                                <img src={{ item.image | image_url:width:200 }} width=100 height=100 />
                            </a>
                            <div class='cart-item-info'>
                                <a href="{{ item.url }}" class="cart-item__name h4 break">
                                    {{- item.product.title | escape -}}
                                  </a>
        
                                  {%- if item.original_price != item.final_price -%}
                                    <div class="cart-item__discounted-prices">
                                      <span class="visually-hidden">
                                        {{ 'products.product.price.regular_price' | t }}
                                      </span>
                                      <s class="cart-item__old-price product-option">
                                        {{- item.original_price | money -}}
                                      </s>
                                      <span class="visually-hidden">
                                        {{ 'products.product.price.sale_price' | t }}
                                      </span>
                                      <strong class="cart-item__final-price product-option">
                                        {{ item.final_price | money }}
                                      </strong>
                                    </div>
                                  {%- else -%}
                                    <div class="product-option">
                                      {{ item.original_price | money }}
                                    </div>
                                  {%- endif -%}
                                  {% for discount in cart.discount_applications %}
                                    DiscountName:{{ discount.title }}
                                    Savings:{{discount.total_allocated_amount | money }}
                                  {%endfor %}  
                                  <quantity-input>
                                    <div class='cart-item-operation'>
                                        <div class='minus-plus-box'>
                                            <button name="minus" class="quantity-minus-btn">{% render 'icon-minus' %}</button>
                                            <input
                                                class="quantity__input"
                                                type="number"
                                                data-quantity-variant-id="{{ item.variant.id }}"
                                                name="updates[]"
                                                value="{{ item.quantity }}"
                                                {% # theme-check-disable %}
                                                data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                                min="1"
                                                data-min="{{ item.variant.quantity_rule.min }}"
                                                {% if item.variant.quantity_rule.max != null %}
                                                  max="{{ item.variant.quantity_rule.max }}"
                                                {% endif %}
                                                step="{{ item.variant.quantity_rule.increment }}"
                                                {% # theme-check-enable %}
                                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                                id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                                data-index="{{ item.index | plus: 1 }}"
                                              >
                                           <button name="plus" class='quantity-plus-btn'> {% render 'icon-plus' %}</button>
                                        </div>
                                        <button name="remove" class='remove-product-cart'>{% render 'icon-remove' %}</button>
                                      </div>
                                  </quantity-input>
                            </div>
                        </div>    
                    {% endfor %}    
                </form>
                
            </div>
            <div class='cart-footer'>
                <div class="price-total-box">
                    <label>Sum total：</label>
                    <span class="total-price">{{ cart.total_price | money_with_currency }}</span>
                </div>
                <div class="cart__ctas" {{ block.shopify_attributes }}>
                    <button
                      type="submit"
                      id="CartDrawer-Checkout"
                      class="cart__checkout-button button settle-button"
                      name="checkout"
                      form="CartDrawer-Form"
                      {% if cart == empty %}
                        disabled
                      {% endif %}
                    >
                      {{ 'sections.cart.checkout' | t }}
                    </button>
                </div>
            </div>    
        {% endif %}    
    </div>
</div>

<script>
   window.addEventListener('DOMContentLoaded', function() {
    hideCartWithDrawer();
   })
</script>