{% style %}
.product-detail-desc-content{
    font-family: var(--self_font), serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.product-detail-desc-title{
  margin: 1rem 0;
  font-weight: bold;
  font-size: calc(var(--font-scale) * 1.5rem);
}
.product-detail-desc-images-box{
  padding: 3rem;
  width:80%;
  background-color: {{ card_bg }};
  border-radius: 1rem;
}
.product-detail-desc-img{
  position:relative;
  left: 50%;
  width: 90%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
  transform: translateX(-50%);
  object-fit: contain;
}
.poet-container{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: {{card_padding | append: 'rem'}};;
  padding: {{card_padding | append: 'rem'}};
  border-radius: 1rem;
  background-color: {{ card_bg }};
  mix-blend-mode: difference;
}
.poet-item{
  position: relative;
  margin-bottom: {{ card_text_margin_bottom | append: 'rem' }};
  line-height: 1.5;
  overflow: hidden;
}
.poet-item::after{
    display: inline;
    content: '|';
    animation: blink 1s step-end infinite;
    font-weight: bold;
    color: #333;
    }
.typewriter-item,.typewriter-span{
  display: inline-block;
}
.typewriter-span{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: {{ card_bg }};
}
@keyframes blink {
  from,to{
    opacity:1;
    }
  50%{
    opacity: 0;
    }
}
@media (max-width: 750px) {
  .product-detail-desc-images-box{
    width: 100%;
    padding: 0;
    background-color: transparent;
  }
    .poet-container{
     width: 80dvw;
    }
  .product-detail-desc-img{
    width: 100%;
  }
}
{% endstyle %}
    {% assign variant = variant_selected %}
    {% assign variant_detail_images = variant.metafields[variant_metafield_namespace][variant_metafield_detail_images_key].value %}
    {% assign variant_design_language = variant.metafields[variant_metafield_namespace][variant_metafield_design_language_key].value %}
    {% if variant_detail_images != blank %}
      <div class="product-detail-desc-content">
          <multi-lang data-lang="{{ request.locale.iso_code }}" data-target-class="product-detail-desc-title" data-json="{{ image_title | escape }}">
              <p class="product-detail-desc-title"></p>
          </multi-lang>
          <div class="product-detail-desc-images-box">
              {% for item in variant_detail_images %}
                    <intersection-box class="intersection-el" data-root-margin="500px 0px">
                      <img
                              class="product-detail-desc-img"
                              srcset="
                              {%- if item.width >= 375 -%}{{ item | image_url: width: 375 }} 375w,{%- endif -%}
                              {%- if item.width >= 550 -%}{{ item | image_url: width: 550 }} 550w,{%- endif -%}
                              "
                              src="{{ item | image_url: width: 550 }}"
                              sizes="(max-width: 550px) 100vw, (max-width: 750px) 100vw, 550px"
                              alt="{{ item.alt | default: 'product detail image' | escape }}"
                              width="550"
                              height="550"
                              {% if forloop.index == 1 %}loading="eager"{% else %}loading="lazy"{% endif %}
                      />
                  </intersection-box>
              {% endfor %}
          </div>
          {% if variant_design_language != blank %}
              <type-writer  animation={{ typewiter_animation }}>
                  <div class="poet-container" data-poet="{{ variant_design_language }}">
                      <span class="poet-item"></span>
                  </div>
              </type-writer>
          {% endif %}
    </div>
    {% endif %}
