{% style %}
.holiday-theme-container{
    width: 92%;
    margin: 0 auto;
    padding: 1rem ;
}

.holiday-product-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: {{section.settings.holiday_background}};
}
.holiday-product-item{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 80%;
    border-radius: 1rem;
    background-color: var(--white-color);
}
.holiday-theme-img{
    width: 100%;
}
.holiday-product-img-box{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: .5rem;
}
.holiday-img{
    width: 100px;
    height: 100px;
}
.custom-card-popover{
    border-radius: .5rem;
    margin: 1rem auto;
}
.count-down-box{
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
    overflow: hidden;
    border-bottom-right-radius: 3rem;
}
.custom-card-popover ,.count-down-box{
    width: 25%;
    min-width: 270px;
}
.holiday-product-params{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1rem;
    height: 100px;
    max-width: 200px;
}
.holiday-product-name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.holiday-product-price{
    font-size: 1rem;
}
.holiday-product-title{
    margin-bottom: .5rem;
    max-width: 130px;
    color: var(--payment-terms-background-color);
}
.holiday-product-desc{
    max-width: 130px;
    font-size: .9rem;
    font-family: var(--self_font);
    line-height: 1.2rem;
    -webkit-line-clamp: 2;
}
.holiday-product-vendor {
    font-size: .8rem;
}
@media (max-width: 450px) {
    .holiday-theme-img{
        display: none;
    }
}


{% endstyle %}


<div class='holiday-theme-container'>
    {% if section.settings.image  %}
        <div class='holiday-theme-img-box holiday-theme-container-item'>
            <img class='holiday-theme-img' alt='holiday_theme_img' src={{ section.settings.image | image_url }} width='1000' height="200" />
        </div>
    {% endif %}
    {% if section.blocks.size > 0 %}
        <div class='holiday-product-box holiday-theme-container-item {% if section.blocks.size == 1 %} flex-product-start {% endif %}'>
            {% if section.settings.add_countdown_component == true %}
                <count-down class="count-down-box" data-activity_end_time={{ section.settings.countdown_end_date }}>
                    {% comment %} <div class="count-down-item"></div> {% endcomment %}
                    {% comment %} 卡片翻动效果 {% endcomment %}
                    {% render 'card-flipping-effect',
                        card_bg_color: section.settings.card_bg_color,
                        multi_text_color: section.settings.multi_text_color,
                        container_bg_color: {{section.settings.holiday_background}};
                    %} 
                </count-down>
            {% endif %}
            {% for block in section.blocks %}
                {% liquid
                    assign product = block.settings.holiday_product
                %}
               <card-popover class='custom-card-popover'
                 data-title='holiday-product-title'
                 data-description='holiday-product-desc'
                 data-price='holiday-product-price'
                 data-img="holiday-img"
                 data-vendor='holiday-product-vendor'
                 data-component-popover-id='{{ shop.name }}-global-component-popover'
                 data-url={{ product.url }}
                 data-display-type={{ section.settings.show_type }}
                 data-card-popover-delay={{ section.settings.card_popover_delay }}
                >
                <a href={{ product.url }} class="holiday-product-item ">
                    <div class='holiday-product-img-box'>
                        <img class='holiday-img transition-img' alt={{ product.title }} src={{ product.featured_image | image_url:width:product.featured_image.width }} width=200 height=200 />
                    </div>
                    <div class='holiday-product-params'>
                        <div class='holiday-title-desc'>
                            <p class="holiday-product-title text-ellipsis" >{{ product.title }}</p>
                            <div class='holiday-product-desc text-ellipsis-multiline'>{{ product.description }}</div>
                        </div>
                        {% if product.vendor != empty %}
                            <span class="holiday-product-vendor gradient-text">{{  product.vendor }}</span>                             
                        {% endif %} 
                        <span class="holiday-product-price">{{ product.price | money_with_currency }}</span>
                    </div> 
                </a>
               </card-popover>
            {% endfor %} 
        </div>
       {% if section.settings.show_card_popover %}
        <script src={{ 'card-popover.js' | asset_url }} defer></script>
       {% endif %} 
    {% endif %}
</div>

{% schema %}
{
    "name": "t:sections.holiday_theme.name",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.holiday_theme.settings.image.label"
        },
        {
            "type": "checkbox",
            "id": "add_countdown_component",
            "default":true,
            "label": "t:sections.holiday_theme.settings.add_countdown_component.label",
            "info": "t:sections.holiday_theme.settings.add_countdown_component.info"
        },
        {
            "type": "text",
            "id": "countdown_end_date",
            "default": "2025-12-31+00:00:00",
            "label": "t:sections.holiday_theme.settings.countdown_end_date.label",
            "info": "t:sections.holiday_theme.settings.countdown_end_date.info"
        },
        {
            "type": "color_background",
            "id": "card_bg_color",
            "label": "t:sections.count_down.settings.card_bg_color.label",
            "default": "rgb(78 165 44 / 50%)"
        },
        {
            "type": "color_background",
            "id": "multi_text_color",
            "label": "t:sections.count_down.settings.multi_text_color.label",
            "default": "linear-gradient(45deg, #ff00a9, #fffb00, #00ff7f, #0088ff)"
        },
        {
            "type": "checkbox",
            "id": "show_card_popover",
            "default":true,
            "label": "t:sections.holiday_theme.settings.show_card_popover.label",
            "info": "t:sections.holiday_theme.settings.show_card_popover.info"
        },
        {
            "type": "range",
            "id": "card_popover_delay",
            "min": 0,
            "max": 5000,
            "step": 100,
            "default": 800,
            "unit": "ms",
            "label": "t:sections.holiday_theme.settings.card_popover_delay.label",
            "info": "t:sections.holiday_theme.settings.card_popover_delay.info"
        },
        {
            "type": "select",
            "id":"show_type",
            "default":"column",
            "label": "t:sections.holiday_theme.settings.show_type.label",
            "info": "t:sections.holiday_theme.settings.show_type.info",
            "options": [
                {
                    "label": "t:sections.holiday_theme.settings.show_type.options__1.label",
                    "value": "column"
                },
                {
                    "label": "t:sections.holiday_theme.settings.show_type.options__2.label",
                    "value": "row"
                }
            ]
        },
        {
            "type": "color_background",
            "id": "holiday_background",
            "default":"#ff93b9",
            "label": "t:sections.holiday_theme.settings.holiday_background.label",
            "info": "t:sections.holiday_theme.settings.holiday_background.info"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name":"t:sections.holiday_theme.blocks.holiday_product.name",
            "settings": [
                {
                    "type": "product",
                    "id": "holiday_product",
                    "label": "t:sections.holiday_theme.blocks.holiday_product.settings.product.label"
                }
            ]
        }
    ],
    "max_blocks": 7,
    "presets": [
        {
          "name": "t:sections.holiday_theme.presets.name"
        }
    ]
}
{% endschema %}