{% style %}
.holiday-theme-container{
    /* width: 96%;
    margin: 0 auto; */
    padding: 1rem ;
    background: {{section.settings.holiday_background}};
}
.holiday-product-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.holiday-product-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.holiday-product-img-box{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: .5rem;
}
.holiday-img{
    width: 100px;
    height: 100px;
}
.custom-card-popover{
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--white-color);
    border-radius: .5rem;
    width: 22%;
    min-width: 300px;
    /* margin-right: 1rem; */
}
.holiday-product-params{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1rem;
    height: 100px;
    max-width: 200px;
}
.holiday-product-name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.holiday-product-price{
    font-size: 1rem;
}
.holiday-product-title{
    margin-bottom: .5rem;
    max-width: 180px;
    color: var(--payment-terms-background-color);
}
.holiday-product-desc{
    max-width: 180px;
    font-size: .9rem;
    font-family: var(--self_font);
    line-height: 1.2rem;
    -webkit-line-clamp: 2;
}

{% endstyle %}


<div class='holiday-theme-container'>
    {% if section.settings.image  %}
        <div class='holiday-theme-img-box holiday-theme-container-item'>
            <img class='holiday-theme-img' alt='holiday_theme_img' src={{ section.settings.image | image_url }} width='1000' height="200" />
        </div>
    {% endif %}
    {% if section.blocks.size > 0 %}
        <div class='holiday-product-box holiday-theme-container-item {% if section.blocks.size == 1 %} flex-product-start {% endif %}'>
            {% for block in section.blocks %}
                {% liquid
                    assign product = block.settings.holiday_product
                %}
               <card-popover class='custom-card-popover'
                 data-title='holiday-product-title'
                 data-description='holiday-product-desc'
                 data-price='holiday-product-price'
                 data-img="holiday-img"
                 data-component-popover-id='{{ shop.name }}-global-component-popover'
                 data-display-type={{ section.settings.show_type }}>
                <a href={{ product.url }} class="holiday-product-item ">
                    <div class='holiday-product-img-box'>
                        <img class='holiday-img transition-img' alt={{ product.title }} src={{ product.featured_image | image_url:width:product.featured_image.width }} width=200 height=200 />
                    </div>
                    <div class='holiday-product-params'>
                        <div class='holiday-title-desc'>
                            <p class="holiday-product-title text-ellipsis" >{{ product.title }}</p>
                            <div class='holiday-product-desc text-ellipsis-multiline'>{{ product.description }}</div>
                        </div>
                        <span class="holiday-product-price">{{ product.price | money_with_currency }}</span>
                    </div> 
                </a>
               </card-popover>
            {% endfor %} 
        </div>

       {% if section.settings.show_card_popover %}
        <script src={{ 'card-popover.js' | asset_url }} defer></script>
       {% endif %} 
    {% endif %}
</div>

{% schema %}
{
    "name": "t:sections.holiday_theme.name",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.holiday_theme.settings.image.label"
        },
        {
            "type": "checkbox",
            "id": "show_card_popover",
            "default":true,
            "label": "t:sections.holiday_theme.settings.show_card_popover.label",
            "info": "t:sections.holiday_theme.settings.show_card_popover.info"
        },
        {
            "type": "select",
            "id":"show_type",
            "default":"column",
            "label": "t:sections.holiday_theme.settings.show_type.label",
            "info": "t:sections.holiday_theme.settings.show_type.info",
            "options": [
                {
                    "label": "t:sections.holiday_theme.settings.show_type.options__1.label",
                    "value": "column"
                },
                {
                    "label": "t:sections.holiday_theme.settings.show_type.options__2.label",
                    "value": "row"
                }
            ]
        },
        {
            "type": "color_background",
            "id": "holiday_background",
            "default":"#ff93b9",
            "label": "t:sections.holiday_theme.settings.holiday_background.label",
            "info": "t:sections.holiday_theme.settings.holiday_background.info"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name":"t:sections.holiday_theme.blocks.holiday_product.name",
            "settings": [
                {
                    "type": "product",
                    "id": "holiday_product",
                    "label": "t:sections.holiday_theme.blocks.holiday_product.settings.product.label"
                }
            ]
        }
    ],
    "max_blocks": 4,
    "presets": [
        {
          "name": "t:sections.holiday_theme.presets.name"
        }
    ]
}
{% endschema %}