{% style %}
.main-product{
  padding-top: {{ section.settings.padding_top | append: 'px' }};
  padding-bottom: {{ section.settings.padding_bottom | append: 'px' }};
  background-color: transparent;
}
.main-product-content{
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-product-img{
  width: 35vw;
  height: 35vw;
  border-radius: 2rem;
}
.content-item{
  width: 40vw;
  min-height: 35vw;
}
.product-info-item{
  margin-bottom: 1rem;
}
.product-title{
  font-family: var(--self_font);
  font-size: calc(var(--font-scale) * 2.5rem);
}
.product-price{
  font-family: var(--self_font);
}
.product-price:nth-child(2){
  margin-left: .5rem;
  color: rgb(var(--color-secondary-button-text));
}
.badge{
  border: 1px solid transparent;
    border-radius: 1rem;
    display: inline-block;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    line-height: 1;
    padding: .5rem 1.3rem .6rem;
    text-align: center;
    background-color: rgb(var(--color-badge-background));
    border-color: rgba(var(--color-badge-border), var(--alpha-badge-border));
    color: rgb(var(--color-badge-foreground));
    word-break: break-word;
    transform: scale(.7);
}
.price__badge-sale{
  background-color: #3b50d4;
  color: #fff;
}
.price__badge-sold-out{
  background-color: #8ae08a;
  color: #fff;
}
.quantity{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .5rem;
  width: fit-content;
  height: 2.6rem;
    border-radius: .5rem;
    border: 2px solid var(--black-color);
    background: rgb(var(--color-background));
}
.quantity__button{
 
    width: 2rem;
    height: 2.6rem;
    transform:scale(.6);
}
.quantity__label{
  display: block;
  color: rgba(0,0,0,.5);
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance:none;
}    
input[type="number"]{
    -moz-appearance:textfield;
}
.quantity__input{
    width: 2rem;
    height: 2.6rem;
    border: none;
    text-align: center;
    outline:none;
    background: transparent;
}

.product-options-item{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
  font-family: var(--self_font);
}
.product-options-label{
  width: 8rem;
  white-space: nowrap;
  color: rgb(var(--color-secondary-button-text));
}
.product-options-value{
  margin-left: 2rem;
  flex: 1;
  line-height: initial;
}
.main-product-info-other{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  width: {{ section.settings.main_product_other_width | append: 'vw' }};
}
.product-info-other-normal{
  display: block;
}
.quantity__rules-cart{
  position:relative;
}
.quantity__rules-cart .loading__spinner{
  top: 0;
  left: .5rem;
  transform: scale(.6);
}
@media screen and (max-width:  450px){
    .main-product-content{
       flex-direction: column;
    }
    .content-item{
      margin-bottom: 1rem;
      width: 100%;
    }
    .main-product-img{
      width: 100%;
      height: auto;
    }
    .product-title{
      font-size: calc(var(--font-scale) * 1.5rem);
    }
    .product-form__submit{
      width: 100%;
    }
    .main-product-info-other{
      display: block;
    }
    .product-options-item{
      display: block;
    }
}
{% endstyle %}
<section 
    id="MainProduct-{{ section.id }}"
    class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} main-product"
    data-section="{{ section.id }}">
  <div class="main-product-content">
    <div class="main-product-img-box content-item">
      <img class="main-product-img" src={{ product.images.first | image_url }} alt="product_img" width=0 height=0 />
    </div>
    <div class="main-product-info content-item" id="main-product-info">
      {%- assign product_form_id = 'product-form-' | append: section.id -%}
     {% for block in section.blocks %}
        {% case block.type %}
          {% when '@app' %}
            {% render block %}
          {% when 'text' %}
          <div class="product-info-item">
            <p class="product-title">{{ product.title }}</p>
          </div>
          {% when 'description' %}
          <div class="product-info-item">
            {{ product.description }}
          </div>
          {% when 'options_panel' %}
            <div class='product-options-box product-info-item'>
            {% for option in product.options_with_values %}
              <div class="product-options-item">
                <label class="product-options-label">{{ option.name | append:'：' }}</label>
                <span class="product-options-value">{{ option.values }}</span>
              </div>    
            {% endfor %}  
            
            </div>
          {% when 'price' %}
          <div class="product-info-item">
            <span class="product-price">{{ product.price | money_with_currency }}</span> 
            <span class="product-price  line-through">{{ product.compare_at_price | money_with_currency }}</span> 
            {%- if product.selected_or_first_available_variant.available -%}
              <span class="badge price__badge-sale color-{{ settings.sale_badge_color_scheme }}">
                {{ 'products.product.on_sale' | t }}
              </span>
              {%- else -%}
              <span class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }}">
                {{ 'products.product.sold_out' | t }}
              </span>
              {%- endif -%}
          </div>
          {% when 'quantity_selector' %}
            {%- assign cart_qty = cart
              | item_count_for_variant: product.selected_or_first_available_variant.id
            -%}
            <label class="quantity__label form__label product-info-item" for="Quantity-{{ section.id }}">
              <span>{{ 'products.product.quantity.label' | t }}</span>
              
              <span class="quantity__rules-cart{% if cart_qty == 0 %} hidden{% endif %}">
                {%- render 'loading' -%}
                <span class="quantity-cart-span"
                  >(
                  {{- 'products.product.quantity.in_cart_html' | t: quantity: cart_qty -}}
                  )</span
                >
              </span>
            </label>
            <quantity-input data-fetch-allowed="{{ false }}" class="quantity product-info-item" data-url="{{ product.url }}" data-section="{{ section.id }}">
              <button class="quantity__button" name="minus" type="button">
                {% render 'icon-minus' %}
              </button>
              <input
                class="quantity__input"
                type="number"
                name="quantity"
                id="Quantity-{{ section.id }}"
                data-cart-quantity="{{ cart_qty }}"
                data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                  data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                  max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                {% endif %}
                step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                form="{{ product_form_id }}"
              >
              <button class="quantity__button" name="plus" type="button">
                {% render 'icon-plus' %}
              </button>
            </quantity-input>
            {% when 'buy_buttons' %}
              {% assign input_id =  section.id | prepend: 'Quantity-' %}
              {%- render 'buy-buttons',
                block: block,
                product: product,
                product_form_id: product_form_id,
                section_id: section.id,
                show_pickup_availability: true,
                input_id : input_id
              -%}
              <script src={{ 'product-form.js' | asset_url }} defer></script>
        {% endcase %}  
     {% endfor %}
    </div>
  </div>
  <main-product-info-other>
    <div class="main-product-info-other">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when "product_detail_desc" %} 
              {% if shop.metaobjects[block.settings.metaobjects_type][product.variants[0].sku] %}
                {% assign product_sku = product.variants[0].sku %} 
                {% render 'product-detail-desc',
                    SKU:  product_sku ,
                    metaobjects_type: block.settings.metaobjects_type,
                    metaobjects_fields: block.settings.metaobjects_fields,
                    card_bg: block.settings.card_bg,
                    card_text_margin_bottom: block.settings.card_text_margin_bottom,
                    card_shadow_color: block.settings.card_shadow_color,
                    card_padding: block.settings.card_padding,
                    image_title: block.settings.image_title
                %}
              {% endif %}  
          {% when "recommend_products" %}   
            {% render 'recommend-products' ,
              recommend_title: block.settings.recommend_title,
              complementary_title: block.settings.complementary_title %}
           
        {% endcase %}  
      {% endfor %}
    </div>
  </main-product-info-other>
</section>


{% schema %}
{
    "name": "t:sections.main-product.name",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type":"options_panel",
        "name":"t:sections.main-product.blocks.options_panel.name"
      },
      {
        "type": "text",
        "name": "t:sections.main-product.blocks.text.name",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "text",
            "default": "Text block",
            "label": "t:sections.main-product.blocks.text.settings.text.label"
          },
          {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "body",
                "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
              },
              {
                "value": "subtitle",
                "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
              },
              {
                "value": "uppercase",
                "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
              }
            ],
            "default": "body",
            "label": "t:sections.main-product.blocks.text.settings.text_style.label"
          }
        ]
      },
      {
        "type": "title",
        "name": "t:sections.main-product.blocks.title.name",
        "limit": 1
      },
      {
        "type": "price",
        "name": "t:sections.main-product.blocks.price.name",
        "limit": 1
      },
      {
        "type": "sku",
        "name": "t:sections.main-product.blocks.sku.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "body",
                "label": "t:sections.main-product.blocks.sku.settings.text_style.options__1.label"
              },
              {
                "value": "subtitle",
                "label": "t:sections.main-product.blocks.sku.settings.text_style.options__2.label"
              },
              {
                "value": "uppercase",
                "label": "t:sections.main-product.blocks.sku.settings.text_style.options__3.label"
              }
            ],
            "default": "body",
            "label": "t:sections.main-product.blocks.sku.settings.text_style.label"
          }
        ]
      },
      {
        "type": "inventory",
        "name": "t:sections.main-product.blocks.inventory.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "body",
                "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__1.label"
              },
              {
                "value": "subtitle",
                "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__2.label"
              },
              {
                "value": "uppercase",
                "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__3.label"
              }
            ],
            "default": "body",
            "label": "t:sections.main-product.blocks.inventory.settings.text_style.label"
          },
          {
            "type": "range",
            "id": "inventory_threshold",
            "label": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.label",
            "min": 0,
            "max": 100,
            "step": 1,
            "info": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.info",
            "default": 10
          },
          {
            "type": "checkbox",
            "id": "show_inventory_quantity",
            "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_quantity.label",
            "default": true
          }
        ]
      },
      {
        "type": "quantity_selector",
        "name": "t:sections.main-product.blocks.quantity_selector.name",
        "limit": 1
      },
      {
        "type": "variant_picker",
        "name": "t:sections.main-product.blocks.variant_picker.name",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "picker_type",
            "options": [
              {
                "value": "dropdown",
                "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
              },
              {
                "value": "button",
                "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
              }
            ],
            "default": "button",
            "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
          },
          {
            "id": "swatch_shape",
            "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.label",
            "type": "select",
            "info": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.info",
            "options": [
              {
                "value": "circle",
                "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__1.label"
              },
              {
                "value": "square",
                "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__2.label"
              },
              {
                "value": "none",
                "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__3.label"
              }
            ],
            "default": "circle"
          }
        ]
      },
      {
        "type": "buy_buttons",
        "name": "t:sections.main-product.blocks.buy_buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_dynamic_checkout",
            "default": true,
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
          },
          {
            "type": "checkbox",
            "id": "show_gift_card_recipient",
            "default": true,
            "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
            "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
          }
        ]
      },
      {
        "type": "description",
        "name": "t:sections.main-product.blocks.description.name",
        "limit": 1
      },
      {
        "type": "share",
        "name": "t:sections.main-product.blocks.share.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "share_label",
            "label": "t:sections.main-product.blocks.share.settings.text.label",
            "default": "Share"
          },
          {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
          },
          {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.share.settings.title_info.content"
          }
        ]
      },
      {
        "type": "custom_liquid",
        "name": "t:sections.custom-liquid.name",
        "settings": [
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "t:sections.custom-liquid.settings.custom_liquid.label",
            "info": "t:sections.custom-liquid.settings.custom_liquid.info"
          }
        ]
      },
      {
        "type": "rating",
        "name": "t:sections.main-product.blocks.rating.name",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
          }
        ]
      },
      {
        "type":"recommend_products",
        "name":"t:sections.recommend_products.name",
        "settings": [
          {
            "type": "text",
            "id": "recommend_title",
            "label": "t:sections.recommend_products.settings.header.recommend_title",
            "default":"recommend products"
          },
          {
            "type": "text",
            "id": "complementary_title",
            "label": "t:sections.recommend_products.settings.header.complementary_title",
            "default":"complementary products"
          }
        ]
      },
      {
        "type": "product_detail_desc",
        "name":"t:sections.main-product.blocks.product_detail_desc.name",
        "settings": [
          {
            "type": "text",
            "id": "metaobjects_type",
            "label": "t:sections.main-product.blocks.product_detail_desc.settings.metaobjects_type.label",
            "default": "metaobjects type",
            "info": "t:sections.main-product.blocks.product_detail_desc.settings.metaobjects_type.info"
          },
          {
            "type": "text",
            "id": "metaobjects_fields",
            "label": "t:sections.main-product.blocks.product_detail_desc.settings.metaobjects_fields.label",
            "info": "t:sections.main-product.blocks.product_detail_desc.settings.metaobjects_fields.info",
            "default": "images-image,detail_text-text"
          },
          {
            "type": "text",
            "id": "image_title",
            "label": "t:sections.main-product.blocks.product_detail_desc.settings.image_title.label",
            "default": "Product image display"
          },
          {
            "type": "color_background",
            "id": "card_bg",
            "label": "t:sections.main-product.blocks.product_detail_desc.settings.card_bg.label",
            "info": "t:sections.main-product.blocks.product_detail_desc.settings.card_bg.info",
            "default": "#fff"
          },
          {
            "type": "range",
            "step": 0.5,
            "id": "card_text_margin_bottom",
            "min": 0,
            "max":5,
            "default": 0,
            "unit": "rem",
            "label": "t:sections.main-product.blocks.product_detail_desc.settings.card_text_margin_bottm.label"
          },
          {
            "type": "range",
            "step": 1,
            "id": "card_padding",
            "min": 1,
            "max":5,
            "default": 1,
            "unit": "rem",
            "label": "t:sections.main-product.blocks.product_detail_desc.settings.card_padding.label"
          },
          {
            "type": "color",
            "id": "card_shadow_color",
            "label": "t:sections.main-product.blocks.product_detail_desc.settings.card_shadow_color.label",
            "default": "#000"
          }
        ]
      },
      {
        "type": "complementary",
        "name": "t:sections.main-product.blocks.complementary_products.name",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.main-product.blocks.complementary_products.settings.paragraph.content"
          },
          {
            "type": "text",
            "id": "block_heading",
            "default": "Pairs well with",
            "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label"
          },
          {
            "type": "checkbox",
            "id": "make_collapsible_row",
            "default": false,
            "label": "t:sections.main-product.blocks.complementary_products.settings.make_collapsible_row.label"
          },
          {
            "type": "select",
            "id": "icon",
            "options": [
              {
                "value": "none",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
              },
              {
                "value": "apple",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
              },
              {
                "value": "banana",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
              },
              {
                "value": "bottle",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
              },
              {
                "value": "box",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
              },
              {
                "value": "carrot",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
              },
              {
                "value": "chat_bubble",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
              },
              {
                "value": "check_mark",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
              },
              {
                "value": "clipboard",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
              },
              {
                "value": "dairy",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
              },
              {
                "value": "dairy_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
              },
              {
                "value": "dryer",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
              },
              {
                "value": "eye",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
              },
              {
                "value": "fire",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
              },
              {
                "value": "gluten_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
              },
              {
                "value": "heart",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
              },
              {
                "value": "iron",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
              },
              {
                "value": "leaf",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
              },
              {
                "value": "leather",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
              },
              {
                "value": "lightning_bolt",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
              },
              {
                "value": "lipstick",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
              },
              {
                "value": "lock",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
              },
              {
                "value": "map_pin",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
              },
              {
                "value": "nut_free",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
              },
              {
                "value": "pants",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
              },
              {
                "value": "paw_print",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
              },
              {
                "value": "pepper",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
              },
              {
                "value": "perfume",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
              },
              {
                "value": "plane",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
              },
              {
                "value": "plant",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
              },
              {
                "value": "price_tag",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
              },
              {
                "value": "question_mark",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
              },
              {
                "value": "recycle",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
              },
              {
                "value": "return",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
              },
              {
                "value": "ruler",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
              },
              {
                "value": "serving_dish",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
              },
              {
                "value": "shirt",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
              },
              {
                "value": "shoe",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
              },
              {
                "value": "silhouette",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
              },
              {
                "value": "snowflake",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
              },
              {
                "value": "star",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
              },
              {
                "value": "stopwatch",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
              },
              {
                "value": "truck",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
              },
              {
                "value": "washing",
                "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
              }
            ],
            "default": "price_tag",
            "info": "t:sections.main-product.blocks.complementary_products.settings.icon.info",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
          },
          {
            "type": "range",
            "id": "product_list_limit",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 10,
            "label": "t:sections.main-product.blocks.complementary_products.settings.product_list_limit.label"
          },
          {
            "type": "range",
            "id": "products_per_page",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 3,
            "label": "t:sections.main-product.blocks.complementary_products.settings.products_per_page.label"
          },
          {
            "type": "select",
            "id": "pagination_style",
            "options": [
              {
                "value": "dots",
                "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.options.option_1"
              },
              {
                "value": "counter",
                "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.options.option_2"
              },
              {
                "value": "numbers",
                "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.options.option_3"
              }
            ],
            "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.label",
            "default": "counter"
          },
          {
            "type": "header",
            "content": "t:sections.main-product.blocks.complementary_products.settings.product_card.heading"
          },
          {
            "type": "select",
            "id": "image_ratio",
            "options": [
              {
                "value": "portrait",
                "label": "t:sections.main-product.blocks.complementary_products.settings.image_ratio.options.option_1"
              },
              {
                "value": "square",
                "label": "t:sections.main-product.blocks.complementary_products.settings.image_ratio.options.option_2"
              }
            ],
            "label": "t:sections.main-product.blocks.complementary_products.settings.image_ratio.label",
            "default": "square"
          },
          {
            "type": "checkbox",
            "id": "enable_quick_add",
            "label": "t:sections.main-product.blocks.complementary_products.settings.enable_quick_add.label",
            "default": false
          }
        ]
      }
      
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_sticky_info",
        "default": true,
        "label": "t:sections.main-product.settings.enable_sticky_info.label"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.main-product.settings.header.content",
        "info": "t:sections.main-product.settings.header.info"
      },
      {
        "type": "select",
        "id": "media_size",
        "options": [
          {
            "value": "small",
            "label": "t:sections.main-product.settings.media_size.options__1.label"
          },
          {
            "value": "medium",
            "label": "t:sections.main-product.settings.media_size.options__2.label"
          },
          {
            "value": "large",
            "label": "t:sections.main-product.settings.media_size.options__3.label"
          }
        ],
        "default": "large",
        "label": "t:sections.main-product.settings.media_size.label",
        "info": "t:sections.main-product.settings.media_size.info"
      },
      {
        "type": "checkbox",
        "id": "constrain_to_viewport",
        "default": true,
        "label": "t:sections.main-product.settings.constrain_to_viewport.label"
      },
      {
        "type": "select",
        "id": "media_fit",
        "options": [
          {
            "value": "contain",
            "label": "t:sections.main-product.settings.media_fit.options__1.label"
          },
          {
            "value": "cover",
            "label": "t:sections.main-product.settings.media_fit.options__2.label"
          }
        ],
        "default": "contain",
        "label": "t:sections.main-product.settings.media_fit.label"
      },
      {
        "type": "select",
        "id": "gallery_layout",
        "options": [
          {
            "value": "stacked",
            "label": "t:sections.main-product.settings.gallery_layout.options__1.label"
          },
          {
            "value": "columns",
            "label": "t:sections.main-product.settings.gallery_layout.options__2.label"
          },
          {
            "value": "thumbnail",
            "label": "t:sections.main-product.settings.gallery_layout.options__3.label"
          },
          {
            "value": "thumbnail_slider",
            "label": "t:sections.main-product.settings.gallery_layout.options__4.label"
          }
        ],
        "default": "stacked",
        "label": "t:sections.main-product.settings.gallery_layout.label"
      },
      {
        "type": "select",
        "id": "media_position",
        "options": [
          {
            "value": "left",
            "label": "t:sections.main-product.settings.media_position.options__1.label"
          },
          {
            "value": "right",
            "label": "t:sections.main-product.settings.media_position.options__2.label"
          }
        ],
        "default": "left",
        "label": "t:sections.main-product.settings.media_position.label",
        "info": "t:sections.main-product.settings.media_position.info"
      },
      {
        "type": "select",
        "id": "image_zoom",
        "options": [
          {
            "value": "lightbox",
            "label": "t:sections.main-product.settings.image_zoom.options__1.label"
          },
          {
            "value": "hover",
            "label": "t:sections.main-product.settings.image_zoom.options__2.label"
          },
          {
            "value": "none",
            "label": "t:sections.main-product.settings.image_zoom.options__3.label"
          }
        ],
        "default": "lightbox",
        "label": "t:sections.main-product.settings.image_zoom.label",
        "info": "t:sections.main-product.settings.image_zoom.info"
      },
      {
        "type": "select",
        "id": "mobile_thumbnails",
        "options": [
          {
            "value": "columns",
            "label": "t:sections.main-product.settings.mobile_thumbnails.options__1.label"
          },
          {
            "value": "show",
            "label": "t:sections.main-product.settings.mobile_thumbnails.options__2.label"
          },
          {
            "value": "hide",
            "label": "t:sections.main-product.settings.mobile_thumbnails.options__3.label"
          }
        ],
        "default": "hide",
        "label": "t:sections.main-product.settings.mobile_thumbnails.label"
      },
      {
        "type": "checkbox",
        "id": "hide_variants",
        "default": false,
        "label": "t:sections.main-product.settings.hide_variants.label"
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "default": false,
        "label": "t:sections.main-product.settings.enable_video_looping.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      },
      {
        "type": "range",
        "id": "main_product_other_width",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "vw",
        "label": "t:sections.main-product.settings.main_product_other_width.label",
        "default": 80
      }
    ]
  }
  {% endschema %}